*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.outer{
    height: 100vh;
    background-color:sandybrown;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inner{
    height: 500px;
    width: 1000px;
    background-color: white;
    border-radius: 10px;
    position: relative;
}

.inner nav{
    display: flex;
    justify-content: space-between;
    margin: 15px 30px;

}

.inner > nav >.middle > ul{
    display: flex;
    gap: 30px;
    font-weight: bold;
    font-size: 20px;
}

.inner > nav > .right > button{
    padding: 5px;
    border-radius: 5px;
}

.inner > nav > .right > button:nth-child(1){
    padding: 5px 12px;
    background-color: blue;
    color: white;
}

.inner > main{
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
}

.inner > main > .leftpara{
    width: 400px;
    height: 350px;
    padding: 15px;

}

.inner > main .leftpara p{
    margin-top: 15px;
    text-align: justify;
}

.inner > main > .leftpara > input{
    margin-top: 20px;
    width: 300px;
    padding: 5px;
}

.inner > main > .leftpara > button{
    padding: 5px 10px;
    background-color: blue;
    color: white;
}



.inner> main > .rightimg{
    width: 400px;
    height: 350px;
     
    background-image: url("https://img.freepik.com/premium-photo/3d-cartoon-character-developer-working-laptop-web-app-development-frontend-deployment_1298309-24276.jpg"); 
    background-repeat: no-repeat; 
    background-position: center;
    background-size: contain;
}

.inner > footer{
    margin: 0px 40px;
    display: flex;
    justify-content: end;
}

.inner > footer > .quesright{
    display: flex;
}

.inner > footer > .quesright > .customerimg{
    height: 50px;
    width: 50px;
    background-image: url("https://img.favpng.com/2/15/17/customer-service-cartoon-png-favpng-fE1XKsYMhtQDzc9uvkchQWA64.jpg");
    border-radius: 50%;
    background-repeat: no-repeat; 
    background-position: center;
    background-size: contain;
}



