*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: black;
}

.container{
    width: 300px;
    background-color: white;
    margin-top: 40px;
    margin-left: 40px;
    padding: 40px;
    box-shadow: 3px 3px 10px rgb(223, 12, 223);
    border-radius: 15px;
    justify-self: center;
}

.container > button{
    display: block;
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 10px;
    background-color: black;
    color:white;
    font-size: 20px;

}

.container2{
    height: 300px;
    width: 300px;
    border: 3px solid red;
    margin-top: 30px;
}

.container2 > box1{
    height: 50px;
    width: 50px;
    background-color: blue;
    display: inline-block;    

}

.container2 > box2{
    height: 50px;
    width: 50px;
    background-color: blueviolet;
}
